
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Actualizado</title>
</head>
<body>
    <div>
        <h2>La carrera fue editada </h2>

    </div>
    <div>
        <h2>Volver a Buscar un alumno</h2>
        @Html.ActionLink("Volver a buscar", "Buscar")
    </div>
    <div>
        <h2>Volver al index</h2>
        @Html.ActionLink("Volver al Index", "Index")
    </div>
</body>
</html>
