
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guardado</title>
</head>
<body>
    <div>
        <div>
            <h2>la carrera fue creada , más opciones </h2>

        </div>

        <div>

            @Html.ActionLink("Volver al Index", "Index")
        </div>
        <div>

            @Html.ActionLink("Crear otro", "Create")
        </div>

    </div>
</body>
</html>