
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alumnos mantenerdor</title>
</head>
<body>
    <div><h2>Bienvenido</h2></div>
    <div><h2>Administrador de Alumnos y carrera </h2></div>
    <div>
        <p><a href="~/Alumno/Index" >Alumnos</a> </p>
    </div>
    <div>
        <p><a href="~/Carreras/Index">Carreras</a> </p>
    </div>
    
    
 

</body>
</html>
