
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrado</title>
</head>
<body>
    <div>
        <h2>El alumno ya fue borrado , más opciones </h2>

    </div>

    <div>

        @Html.ActionLink("Volver al Index", "Index")
    </div>
    <div>

        @Html.ActionLink("Volver al Listado", "Todo")
    </div>
</body>
</html>