
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No ingresado</title>
</head>
<body>
    <div>
        <h2>El alumno no fue ingresado rut repetido </h2>

    </div>
    <div>
        @Html.ActionLink("Volver a ingresar ", "Buscar")
    </div>
    <div>

        @Html.ActionLink("Volver al Index", "Index")
    </div>
</body>
</html>
