
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No Encontrado</title>
</head>
<body>
    <div>
        <h2>El alumno no fue encontrado , vuelva a las siguientes Opciones </h2>

    </div>
    <div>
        @Html.ActionLink("Volver a buscar", "Buscar")
    </div>
    <div>

        @Html.ActionLink("Volver al Index", "Index")
    </div>
</body>
</html>
